.hero-home-container .hero-home-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-home {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero-home h1,
.hero-home h2,
.hero-home h3,
.hero-home h4,
.hero-home h5,
.hero-home h6,
.hero-home p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero-home.no-image * {
  color: var(--text-color);
}

.hero-home picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-home img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-home {
    padding: 40px 32px;
  }
}
